<!DOCTYPE html>
<html>
<head>
  <title>Bioheal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%if user_signed_in? %>
<% if current_user.activo?%>
	<!-- start: Header -->
	<%= render 'shared/menu_arriba' %>
	<!-- start: Header -->
<% else %>
	<%= render 'shared/nav' %>
<% end %>
<% end %>


<%= yield %>

</body>
</html>
